@font-face {
  font-family: futura;
  src:url("./futura/Futura light bt.ttf");
}

h1 {
  color: white;
  font-family: futura;
  font-style: normal;
  font-size: 50px
}

p {
  color: white;
  font-family: futura;
  font-size: 35px
}

body{
  background-color: #292828;
}
