@font-face {
  font-family: futura;
  src:url("./futura/Futura-medium.woff");
}

h1 {
  color: white;
  font-family: "futura",Arial;
  font-style: normal;
  font-size: 40px
}

p {
  color: white;
  font-family: "futura",Arial;
  font-size: 35px
}

body{
  background-color: #2C2F33;
  font-family: futura;
}

.floating-menu {
  background-color: #7289DA;
  line-height: 20px;
  padding:100px, 100px;
  width: 100%;
  top: 0px;
  position: fixed;
  text-align: left;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

/*a, a {
  background-color: #55688a;
}*/

.button {
  height: 80%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: none;
  margin-top: 0;
  width: 10%;
  background-color: #7b828f;
}

.button:hover, .button:active {
  background-color: #55688a;
}

.buttonw3 {
  background-color: #23272A;
  border: none;
  color: white;
  padding: 350px, 200px;
  border-top: 50px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "futura",Arial;
  border-radius: 3px;
}

.buttonw3:hover, buttonw3:active{
  background-color: #55688a;
}

.form{
  color: white;
  background-color: black;
  font-family: "futura",Arial;
  font-size: 35px
  width: 100%;
}

.form-header {
  display: table-cell;
  color: white;
  font-size: 35px;
}

.explanation {
  color: #99aab5;
  font-style: italic;
  font-size: 30px;
  display: table-cell;
  text-align: right;
  font-family: "futura",Arial;
}

.form-header{
  font-family: "futura",Arial;
}

textarea{
  width: 100%;
  height: 200px;
  font-family: "futura",Arial;
  font-size: 35px;
}

/*
.form_body {
  color: white;
  background-color: black;
  font-family: "futura",Arial;
  font-size: 35px
}
*/
input {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "futura",Arial;
  font-size: 35px;
}
